<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div>
            @RenderPage("/Views/User/Shared/AuthorizationBlock.cshtml")
        </div>
        @RenderBody()
    </body>
</html>